<div class="container">
  <h2>Task Manager</h2>

  <!-- Search Filter -->
  <input
    type="text"
    (input)="onSearchChange()"
    placeholder="Search keyword..."
    class="input w-50"
  />

  <!-- Task Form -->
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <input
      type="text"
      name="title"
      formControlName="title"
      placeholder="Title"
      class="input"
      required
    />
    @if(taskForm.get('title')?.touched && taskForm.get('title')?.invalid) {
    <div class="text-danger">Title is required</div>
    }
    <textarea
      name="description"
      formControlName="description"
      placeholder="Description"
      class="textarea"
      required
    ></textarea>
    @if(taskForm.get('description')?.touched &&
    taskForm.get('description')?.invalid) {
    <div class="text-danger">Description is required</div>
    }
    <input
      formControlName="dueDate"
      type="date"
      name="dueDate"
      class="input"
      required
    />
    @if(taskForm.get('dueDate')?.touched && taskForm.get('dueDate')?.invalid) {
    <div class="text-danger">Due Date is required</div>
    }
    <select formControlName="priority" name="priority" class="select" required>
      <option value="">Select Priority</option>
      @for(p of priorities; track trackByIndex; let i = $index) {
      <option [value]="p">{{ p }}</option>
      }
    </select>
    @if(taskForm.get('priority')?.touched && taskForm.get('priority')?.invalid)
    {
    <div class="text-danger">Priority is required</div>
    }
    <button type="submit" class="btn btn-primary" [disabled]="taskForm.invalid">
      {{ isEditing ? "Update Task" : "Create Task" }}
    </button>
  </form>

  <!-- Task List -->
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Priority</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for(task of filteredTasks; track task.id; let i = $index) {
      <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.dueDate }}</td>
        <td>{{ task.priority }}</td>
        <td>
          <button class="btn btn-secondary" (click)="editTask(i)">Edit</button>
          <button class="btn btn-danger" (click)="deleteTask(i)">Delete</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
